<section class="investement-first property">
    <div class="container">
        <div class="col-md-12">
            <h1 class="color-white title-invest margin-none"><%= @investment.name%></h1>
        </div>
        <div class="col-md-8 slider color-white">
            <div class="slider-wrapper">
             <ul class="bxslider">
                <%no_image_shown = true%>
                <% @investment.media.each do |medium| %>

                    <% if !(medium.media_item_content_type =~ /^image/).nil? %>
                        <%no_image_shown = false%>
                        <li><img src="<%=medium.media_item %>" /></li>
                    <% end %>
                <% end %>
                <%if no_image_shown%>
                    <li><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=No%20Image%20found&w=350&h=150" /></li>
                <%end%>
            </ul>
            <div class="col-md-12 star-up">
                <h5 class="text-right"><i class="fa fa-star-o"></i></h5>
            </div>
        </div> 

        <div id="bx-pager">
            <%- @investment.media.each_with_index do |medium, index| %>
                <% if !(medium.media_item_content_type =~ /^image/).nil? %>
                    <a data-slide-index="<%= index%>" class=" thumb-pager" href=""><img src="<%=medium.media_item %>"></a>
                <% end %>
            <% end %>
        </div>


    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 investnow dashboeardproperty">
        <%= button_to new_invest_investment_path(@investment), method: "get" do %>
            <i class="fa fa-check"></i> Invest Now
        <% end %>
        <ul class="propertyoffer color-white">
            <li><span class="textoffer">Goal</span> <span class="hr"><hr></span></li>
            <li class="color-yellow offer-price"><%= number_to_currency((@investment.raise_amount || 0), precision: 1) %></li>
            <li><span class="textoffer">Funded</span> <span class="hr"><hr></span></li>
            <li class="color-yellow offer-price"><%= number_to_currency(@investment.get_progress_stats, precision: 1) %></li>
            <li> 
                <div class="status-bar">
                    <p style="width: <%= @investment.investment_percent_progress %>;" class="status-report"></p> 
                </div>
            </li>
        </ul>
        <div class="offer-invest investbar">
            <div class="col-md-4 col-sm-4 col-xs-4 no-padding text-left border-right">
                <h4 class="color-yellow "><%= @investment.investment_percent_progress %></h4>
                Funds
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-center ">
                <h4 class="color-yellow"><%= @investment.principle_investors.count%></h4>
                Investor
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right no-padding border-left">
                <h4 class="color-yellow"><%= @investment.investment_duration%></h4>
                Investment Duration
            </div>
        </div>

    </div>
</div>
</section>
<section class="tabs-wrapper">
    <div class="container">
        <div class="bs-example col-md-12">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#sectionA">Description</a></li>
                <li><a href="#sectionB">Principle Investors</a></li>
                <!-- <li><a href="#sectionc">Gallery</a></li> -->
                <li><a href="#sectiond">FAQs</a></li>

            </ul>
            <div class="tab-content col-md-12">
                <div id="sectionA" class="tab-pane fade in active ">
                    <div class="col-md-8">
                        <h2><%= @investment.name%></h2>

                        <p class="location color-yellow"><i class="fa fa-map-marker"></i> <%= @investment.address || 'not applicable'%></p>
                        <% @investment.tags.each do |tag|%>
                            <span><i class="fa fa-tag"></i><%= tag.name %></span>
                        <% end %>
                        <p class="desc">
                            <%= @investment.key_information.html_safe %>
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-12 col-xs-12 tablist">
                        <div class="col-md-12 buttonpropertys">
                        <%= button_to new_invest_investment_path(@investment), method: "get" do %>
                            <i class="fa fa-check"></i> Invest Now
                        <% end %>
                         <button class="bg-transparent"><i class="fa fa-star-o"></i> Add to Watchlist </button>
                     </div>
                     <div class="col-md-12 col-sm-12">
                        <h2 class="text-left border-bold">Investment Detail</h2>
                        <ul class="add-detail">
                            <li><span class="font-bold">Min. Investment</span> <span class="font-normal"><%=number_to_currency @investment.investment_minimum%></span></li>
                            <li><span class="font-bold">Fund Limit</span> <span class="font-normal"><%=number_to_currency (@investment.raise_amount || 0)%></span></li>
                            <li class="border-none"><span class="font-bold">Investment Rate</span> <span class="font-normal">calculating..</span></li>
                            <li class="border-none"><span class="font-bold">Funding Period</span> <span class="font-normal"></span><%= @investment.investment_duration%></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <h2 class="text-left border-bold">My Documents</h2>
                        <ul class="doc">
                            <li>Coming Soon!</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div id="sectionB" class="tab-pane fade col-md-12">
                <% @investment.principle_investors.each do |investor|%>
                    <div>
                        <%= image_tag(investor.profile_pic.url || "https://placeholdit.imgix.net/~text?txtsize=33&txt=No%20Image%20found", size: "200x225", alt: investor.full_name, class: "img img-thumbnail")%>
                    </div>
                    <b><%= investor.full_name%></b> - <i><%= investor.occupation%></i>
                    <p><%= investor.bio %></p>
                    <br/>
                    <br/>
                    <br/>
                <%end%>
            </div>
            <div id="sectionc" class="tab-pane fade  resptable">
                <div class="col-md-8">
                    <h2 class="margin-none text-left">My Activity</h2>
                    <table class="text-left">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Description</th>
                                <th>Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/11/11</td>
                                <td>Invested</td>
                                <td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <td>11/11/11</td>
                                <td>Invested</td>
                                <td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <td>11/11/11</td>
                                <td>Invested</td>
                                <td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <td>11/11/11</td>
                                <td>Invested</td>
                                <td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
                                <td>$10,000</td>
                            </tr>
                            <tr>
                                <td>11/11/11</td>
                                <td>Invested</td>
                                <td class="color-yellow">Property Name or Title <i class="fa fa-arrow-circle-right"></i></td>
                                <td>$10,000</td>
                            </tr>
                        </tbody>

                    </table>

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 tablist document">
                    <h2 class="text-left border-bold ">My Documents</h2>
                    <ul class="add-detail doc">
                       <li><b>SEP 03</b> <span class="color-yellow"> <a href="#">FUNDING AGREEMENT</a></span></li>
                       <li><b>SEP 03</b> <span class="color-yellow"><a href="#">FUNDING AGREEMENT</a></span></li>
                       <li class="border-none"><b>SEP 03</b> <span class="color-yellow"><a href="#">FUNDING AGREEMENT</a></span></li>
                   </ul>

               </div>
           </div>
           <div id="sectiond" class="tab-pane fade col-md-12">
            <h3>Section D</h3>
            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
        </div>

    </div>

</div>
</div>
</section>
