<section class="investement-first">
  <div class="container">
    <div class="col-md-12">
      <h1 class="color-white title-head">My Investment</h1>
    </div>
  </div>
</section>
<section class="tabs-wrapper">
  <div class="container">
    <div class="bs-example col-md-12">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#summary">Summary</a></li>
        <li><a href="#history">History</a></li>

      </ul>
      <div class="tab-content col-md-12">
        <div id="history" class="tab-pane fade in col-md-12 resptable">
          <div class="col-md-8 resolution-padding">
            <h2 class="margin-none">My Activity</h2>
            <table class="text-left">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Amount</th>

                </tr>
              </thead>
              <tbody>
                <%if @quotes.any? %>
                  <%@quotes.each do |quote|%>
                    <tr>
                      <td><%= quote.created_at.strftime('%d/%m/%Y') %></td>
                      <td><%= quote.status.try(:capitalize) %></td>
                      <td class="color-yellow"><%= link_to quote.investment.try(:name), investment_path(quote.investment) %>&nbsp;<i class="fa fa-arrow-circle-right"></i></td>
                      <td><%= number_to_currency(quote.total_amount, precision: 1)%></td>
                    </tr>
                  <%end%>
                <% else %>
                  <tr>
                    <td colspan="4" class="text-center"> No investments made yet.</td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12 tablist resolution-padding">
            <h2 class="text-left border-bold">My Documents</h2>
            <ul class="add-detail">
              <li>No Documents found</li>
              <!-- <li>SEP 03 <span class="color-yellow">FUNDING AGREEMENT</span></li>
              <li>SEP 03 <span class="color-yellow">FUNDING AGREEMENT</span></li>
              <li>SEP 03 <span class="color-yellow">FUNDING AGREEMENT</span></li> -->
            </ul>
          </div>
        </div>



        <div id="summary" class="tab-pane fade in active col-md-12 resptable">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <h2></h2>
            <div id="canvas-holder">
              <canvas id="chart-area" width="500" height="500"/>
            </div>
            <script>

            var doughnutData = [
            {
              value: 300,
              color:"rgb(253, 184, 34)",
              highlight: "rgb(236, 172, 32)",
              label: "Active"
            },
            {
              value: 100,
              color: "rgb(255, 217, 134)",
              highlight: "rgb(238, 201, 122)",
              label: "Available"
            },
            {
              value: 50,
              color: "#ccc",
              highlight: "#999",
              label: "Pending"
            }

            ];

            window.onload = function(){
              var ctx = document.getElementById("chart-area").getContext("2d");
              window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {responsive : true});
            };



            </script>
            <%- if 1==2 %>
              <h3 class="text-center"><b>Total</b></h3>
              <h2 class="text-center color-yellow font-increase margin-none"><b>$60,000</b></h2>
              <div class="col-md-12 text-center no-padding">
                <button class="darkbtn width-full disabled" disabled="true">ADD FUNDING <i class="fa fa-plus-square color-yellow"></i></button>
              </div>
            <%end%>
          </div>


          <div class="col-md-8 col-sm-12 col-xs-12 tablist summarytbl ">
            <h2>Active Investments</h2>

            <div class="panel-group" id="accordion">
              <div class="testing">
                <div class='col-md-4 col-sm-4'>
                  <p><b>Name</b></p>
                </div>
                <div class='col-md-3 col-sm-3'>
                  <p><b>Investment</b></p>
                </div>
                <div class='col-md-3 col-sm-3'>
                  <p><b>Return to Date</b></p>
                </div>
                <div class='col-md-2 col-sm-2'>
                  <p><b>Status</b></p>
                </div>
              </div>
              <% if @active_quotes.any? %>
                <% @active_quotes.each do |quote|%>
                  <div class="panel panel-default col-md-12 no-padding set-para">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                        href="#collapse<%=quote.id%>" class="gray collapsed">
                          <div class='col-md-4 no-padding col-sm-4'>
                            <span class="mobile-view"><i class="fa fa-plus-square color-yellow plus-view"></i> <i class="fa fa-minus-square color-yellow minus-view"></i> Name</span> <p class="icon-change"> <i class="fa fa-plus-square color-yellow plus-view"></i> <i class="fa fa-minus-square color-yellow minus-view"></i> <%= quote.investment.name %></p>
                          </div>
                          <div class='col-md-3 mobile-view-div col-sm-3'>
                            <span class="mobile-view">Investment</span><p><%= number_to_currency(quote.total_amount, precision: 1)%></p>
                          </div>
                          <div class='col-md-3 mobile-view-div col-sm-3'>
                            <span class="mobile-view">Return to Date</span><p><%= quote.investment.investment_duration%></p>
                          </div>
                          <div class='col-md-2 mobile-view-div col-sm-2'>
                            <span class="mobile-view">Status</span> <p><%= quote.investment.status.try(:capitalize) %></p>
                          </div>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse<%=quote.id%>" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="col-md-6 col-xs-12 bg-yellow investtext">
                          <p class="location-offer "><b><i class="fa fa-map-marker"></i> <%= quote.investment.address%></b></p>
                          <p>
                            <%= h truncate_html(quote.investment.key_information, :length => 100)%>
                          </p>
                        </div>
                        <div class="col-md-6 col-xs-12 no-padding investimgset">
                         <%= image_tag quote.investment.logo.url || "https://placeholdit.imgix.net/~text?txtsize=33&txt=No%20Image%20found&w=350&h=150" %>
                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6 bg-gray  setpadding">
                          <h4 class="color-yellow">Investment Goal</h4>
                          <ul class="investoffer border-none">
                            TODO: get designed from designer
                          </ul>
                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6 bg-gray  setpadding">
                          <h4 class="color-yellow">Investment Documents</h4>
                          <ul class="investoffer border-none">
                            Coming Soon...
                          </ul>
                        </div>
                        <div class="col-md-12 bg-gray  setpadding text-center">
                         <h3> 
                          <%= link_to investment_path(quote.investment), class: 'color-yellow' do%>
                            <b>View For Details</b> <i class="fa fa-arrow-right"></i>
                          <%end%>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
              <%else%>
                <div class="text-center">No active investments found</div>
              <%end%>
            </div>
            <div class="row"></div>
            <h2>Pending Investments</h2>
            <div class="panel-group" id="accordion">
              <div class="testing">
                <div class='col-md-4 col-sm-4'>
                  <p><b>Name</b></p>
                </div>
                <div class='col-md-3 col-sm-3'>
                  <p><b>Investment</b></p>
                </div>
                <div class='col-md-3 col-sm-3'>
                  <p><b>Return to Date</b></p>
                </div>
                <div class='col-md-2 col-sm-2'>
                  <p><b>Status</b></p>
                </div>
              </div>
              <% if @pending_quotes.any? %>
                <% @pending_quotes.each do |quote|%>
                  <div class="panel panel-default col-md-12 no-padding set-para">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" 
                        href="#collapse<%=quote.id%>" class="gray collapsed">
                          <div class='col-md-4 no-padding col-sm-4'>
                            <span class="mobile-view"><i class="fa fa-plus-square color-yellow plus-view"></i> <i class="fa fa-minus-square color-yellow minus-view"></i> Name</span> <p class="icon-change"> <i class="fa fa-plus-square color-yellow plus-view"></i> <i class="fa fa-minus-square color-yellow minus-view"></i> <%= quote.investment.name %></p>
                          </div>
                          <div class='col-md-3 mobile-view-div col-sm-3'>
                            <span class="mobile-view">Investment</span><p><%= number_to_currency(quote.total_amount, precision: 1)%></p>
                          </div>
                          <div class='col-md-3 mobile-view-div col-sm-3'>
                            <span class="mobile-view">Return to Date</span><p><%= quote.investment.investment_duration%></p>
                          </div>
                          <div class='col-md-2 mobile-view-div col-sm-2'>
                            <span class="mobile-view">Status</span> <p><%= quote.investment.status.try(:capitalize)%></p>
                          </div>
                        </a>
                      </h4>
                    </div>
                    <div id="collapse<%=quote.id%>" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="col-md-6 col-xs-12 bg-yellow investtext">
                          <p class="location-offer "><b><i class="fa fa-map-marker"></i> <%= quote.investment.address%></b></p>
                          <p>
                            <%= h truncate_html(quote.investment.key_information, :length => 100)%>
                          </p>
                        </div>
                        <div class="col-md-6 col-xs-12 no-padding investimgset">
                         <%= image_tag quote.investment.logo.url || "https://placeholdit.imgix.net/~text?txtsize=33&txt=No%20Image%20found&w=350&h=150" %>
                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6 bg-gray  setpadding">
                          <h4 class="color-yellow">Investment Goal</h4>
                          <ul class="investoffer border-none">
                            TODO: get designed from designer
                          </ul>
                        </div>
                        <div class="col-md-6 col-xs-12 col-md-6 bg-gray  setpadding">
                          <h4 class="color-yellow">Investment Documents</h4>
                          <ul class="investoffer border-none">
                            Coming Soon...
                          </ul>
                        </div>
                        <div class="col-md-12 bg-gray  setpadding text-center">
                         <h3> 
                          <%= link_to investment_path(quote.investment), class: 'color-yellow' do%>
                            <b>View For Details</b> <i class="fa fa-arrow-right"></i>
                          <%end%>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
              <%else%>
                <div class="text-center">No pending investments found</div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>