<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:id => 'create_user'}) do |f| %>
    <!-- Step 1 -->
    <fieldset id="page1" class="investement-first property invest-dashboard signup-bg">
        <div class="container">
            <div class="col-md-10 col-sm-12 col-xs-12  center-container  color-white singup-wrapper stepone">
                <h1 class="color-white title-invest margin-none text-center heading">Join the Club.</h1>
                <p class="text-center sub-headi">Siging up is free, Fast &  simple - no commitments or long-term contracts</p>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center step-category">
                    <h3>  <i class="fa fa-check-circle color-yellow"></i> Step One</h3>
                    <p>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center step-category">
                    <h3>  <i class="fa fa-check-circle color-yellow"></i> Step One</h3>
                    <p>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center step-category">

                    <h3>  <i class="fa fa-check-circle color-yellow"></i> Step One</h3>
                    <p>

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    </p>
                </div>
                <div class='col-md-12 hr-wrapper center-container'>
                    <hr>
                </div>
                
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Your Email</label>
                        <%= f.text_field :first_name, :class => 'form-control', :autofocus => true, :placeholder => 'name@example.com' %>
                        <%= show_field_error(@user, :first_name) %>
                    </div>
                     <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Confirm Email</label>
                        <input type="email" placeholder="name@example.com" class="form-control" />
                    </div> 

                </div>
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <section ng-app="myApp" ng-controller="mainCtrl">
                            <label>Create Password</label>
                            <%= f.password_field :password, :class => 'form-control set-margin', :autofocus => true, :placeholder => 'Put your password' %>
                            <%= show_field_error(@user, :password) %>
                            <!-- <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" class="display-none"/>
                            <label for="checkbox" ng-if="passwordCheckbox" class="hidden-show"><i class="fa fa-eye-slash"></i></label>
                            <label for="checkbox" ng-if="!passwordCheckbox" class="hidden-show"><i class="fa fa-eye"></i></label> -->  
                        </section>
                    </div> 
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>password Strength</label>
                        <ul>
                            <li><i class="fa fa-check color-yellow"></i> More then 6 character</li>
                            <li><i class="fa fa-check color-yellow"></i> Contain upper (A-Z) and lowercase (a-z)</li>
                            <li><i class="fa fa-check color-yellow"></i> contain a number(0-9)</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-12 no-padding form-wrapper">
                    
                   <div class="col-md-6 col-sm-12 col-xs-12">
                       <label>Country</label>
                        <%= f.select :country, options_for_select(countries),{}, {class: 'form-control'} %>
                         
                   </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Country Restriction</label>
                        <p class="restriction-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    </div>
                    
                     <div class='col-md-12 hr-wrapper center-container'>
                        <hr>
                    </div>
                    <div class="signup_navigation_button"></div>

            </div>
        </div>
    </fieldset>

    <fieldset id="page2" class="investement-first property invest-dashboard">
        <div class="container">


            <div class="col-md-11 col-sm-12 col-xs-12 investnow dashboeardproperty center-container singup-wrapper">
                <h1 class="color-white title-invest margin-none payment text-center">What you are looking for?</h1>
                 <p class="text-center sub-headi color-white"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
           
          
            <div class='col-md-12 hr-wrapper center-container'>
                <hr>
            </div>
            <div class="col-md-12 no-padding form-wrapper">
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <label  class="color-white">What type(s) of property are you interested in? (residential/commercial/both/undecided)</label>
                    <select name="country" class="form-control">
                        <option value="Apartments">Apartments</option>
                        <option value="Residential Homes">Residential Homes</option>
                        <option value="Industrial Space">Industrial Space</option> 
                        <option value="Self-Storage">Self-Storage</option>
                        <option value="Commercial/Office Use">Commercial/Office Use</option>
                        <option value="New Developments">New Developments</option>
                        <option value="Rehabilitations or Flips">Rehabilitations or Flips</option>
                        <option value="High-rises or Skyscrapers">High-rises or Skyscrapers</option>
                          
                    </select>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <label  class="color-white">What type(s) of deals are you interested in? (debt/equity/both/undecided)</label>
                    <select name="country" class="form-control">
                        <option value="Apartments">Apartments</option>
                        <option value="Residential Homes">Residential Homes</option>
                        <option value="Industrial Space">Industrial Space</option> 
                        <option value="Self-Storage">Self-Storage</option>
                        <option value="Commercial/Office Use">Commercial/Office Use</option>
                        <option value="New Developments">New Developments</option>
                        <option value="Rehabilitations or Flips">Rehabilitations or Flips</option>
                        <option value="High-rises or Skyscrapers">High-rises or Skyscrapers</option>
                    </select>
                </div> 

                </div>
               <div class="col-md-12 no-padding form-wrapper ">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label class="color-white">Budget Range</label>
                        <div class="layout-slider" style="width: 100%">
                            <span class=" rang-span" style="display: inline-block;     margin: 15px 0px; width: 100%;  padding: 0 5px;"><input id="Slider1" type="slider" name="price" value="30000.5;60000" /></span>  
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label class="color-white">Risk Profile</label>
                          

                        <div class="layout-slider" style="display: inline-block;     margin: 15px 0px; width: 100%;  padding: 0 5px;">
                          <input id="SliderSingle" type="slider" name="price" value="20" />
                        </div>
                    </div> 
                </div>
                
                 <div class='col-md-12 center-container invest-profile step-three'>
                    <div class='col-md-12 center-container no-padding'>
                        <h3 class="color-white text-left border-none">
                            Categories
                        </h3>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check11" type="checkbox" name="check" >
                                    <label for="check11">Invest as Myself</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check114" type="checkbox" name="check" >
                                    <label for="check114">Investment as Entity</label>
                                </div>
                            </div>
                        </div>
                         <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check125" type="checkbox" name="check" >
                                    <label for="check125">Investment with an IRA</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check145" type="checkbox" name="check" >
                                    <label for="check145">Investment with an IRA</label>
                                </div>
                            </div>
                        </div>
                          <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check151" type="checkbox" name="check" >
                                    <label for="check151">Invest as Myself</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check164" type="checkbox" name="check" >
                                    <label for="check164">Investment as Entity</label>
                                </div>
                            </div>
                        </div>
                         <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check157" type="checkbox" name="check" >
                                    <label for="check157">Investment with an IRA</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="check150" type="checkbox" name="check" >
                                    <label for="check150">Investment with an IRA</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12 hr-wrapper center-container'>
                            <hr>
                        </div>
                        <div class="signup_navigation_button"></div>

                        <!-- <div class=" text-center ">
                            <p class="text-center"><button class="btn-continue">continue <i class="fa fa-arrow-right"></i> </button> </p>
                            <p class="text-center restriction-txt">
                               Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
      </div>

    </fieldset>


    <!-- Step 3 -->
    <fieldset id="page3" class="investement-first property invest-dashboard signup-bg">
        <div class="container">


            <div class="col-md-10 col-sm-12 col-xs-12  center-container  color-white singup-wrapper">
                <h1 class="color-white title-invest margin-none text-center heading">Tell us about yourself</h1>
                <p class="text-center sub-headi"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
             <div class='col-md-12 hr-wrapper center-container'>
                    <hr>
                </div>
              
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Which best describes you? (> $1,000,000, Over $300,000 w/spouse the past 2 years, Over $200,000 income past 2 years, < $100,000)</label>
                        <input type="text" placeholder="Hint Text" class="form-control" />
                          </div>
                         <div class="col-md-6 col-sm-12 col-xs-12 ">
                         <label>What is your annual net income before taxes? </label>
                        <input type="text" placeholder="Hint Text" class="form-control" />
                    </div> 

                </div>
                <div class="col-md-12 no-padding form-wrapper">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                       <label>Have you ever invested in real estate before? (yes/no/not sure)</label>
                        <input type="text" placeholder="Hint Text" class="form-control" />
                             </div> 
                    <div class="col-md-6 col-sm-12 col-xs-12">
                          <label>How did you hear about us?</label>
                        <input type="text" placeholder="Hint Text" class="form-control" />
                    </div>
                </div>
                
                <div class="col-md-12 no-padding form-wrapper">
                    
                   <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>What is your primary reason for wanting to invest? </label>
                        <input type="text" placeholder="Hint Text" class="form-control" />
                        
                   </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>What are you current investments primarily in?  </label>
                        <input type="text" placeholder="Hint Text" class="form-control" />
                        
                    </div>
                </div>
                    
                <div class='col-md-12 hr-wrapper center-container'>
                    <hr>
                </div>
                
                <!-- <div class="col-md-12 signup-btn">
                    <p class="text-center">
                        <button class="invest-btn"> Finish Up <i class="fa fa-check-circle "></i></button>  
                        
                    </p>
                    
                     <p class="text-center restriction-txt">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div> -->
            </div>
           
        </div>
    </fieldset>

    <div class="col-md-12 signup-btn over-flow">
                    <p class="text-center">
                        <button id="create_user_button" class="invest-btn"> Create Account <i class="fa fa-chevron-right"></i></button>  
                        
                    </p>
                    <p class="text-center restriction-txt">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                     <p class="text-center restriction-txt">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div>

<%end%>


<script type="text/javascript">
    // $("#create_user").multipage({ submitButton: 'create_user_button' });

    $("#Slider1").slider({ from: 1000, to: 100000, step: 500, smooth: true, round: 0, dimension: "&nbsp;$", skin: "plastic" });
    $("#SliderSingle").slider({ from: 5, to: 100, step: 2.5, round: 1, format: { format: '##.0', locale: 'de' }, dimension: '&nbsp;%', skin: "round" });
    $(".slider")
                        
    .slider({ 
        min: 0, 
        max: 1000, 
        range: true, 
        values: [200, 800] 
    })
                        
    .slider("pips", {
        rest: "label"
    })
                        
    .slider("float");
</script>
