<div class="gray_background">


    <div class="signup_container">
        <div class="signup_header">
            <h2>Join the Club</h2>
            <div class="signup_header_mini">Signing up is free, fast & simple - no commitments or long-term contracts</div>
        </div>
        <div class="signup_3steps">
            <div class="row signup_3steps_row">
                <div class="col-md-4 signup_3steps_cell">
                    <div class="signup_3steps_step">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="signup_3steps_text">STEP ONE</span>
                    </div>
                    <div class="signup_3steps_describe">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie congue arcu sed pulcina
                    </div>
                </div>
                <div class="col-md-4 signup_3steps_cell">
                    <div class="signup_3steps_step">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="signup_3steps_text">STEP TWO</span>
                    </div>
                    <div class="signup_3steps_describe">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie congue arcu sed pulcina
                    </div>
                </div>
                <div class="col-md-4 signup_3steps_cell">
                    <div class="signup_3steps_step">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span class="signup_3steps_text">STEP THREE</span>
                    </div>
                    <div class="signup_3steps_describe">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie congue arcu sed pulcina
                    </div>
                </div>
            </div>
        </div>
        <div class="signup_seperator">&nbsp;</div>
        <div class="form_container">
            <%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:id => 'create_user'}) do |f| %>
            <div class="row form_container_row">
                <div class="col-md-6 form_container_cell">

                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">
                            <label for="user_email">YOUR EMAIL</label>
                            <%= f.text_field :email, :class => 'form-control', :autofocus => true, :placeholder => 'name@example.com' %>
                            <%= show_field_error(@user, :email) %>
                        </div>
                    </div>
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">
                            <label for="user_email">CREATE PASSWORD</label>
                            <%= f.password_field :password, :class => 'form-control', :autofocus => true, :placeholder => 'Password' %>
                            <%= show_field_error(@user, :password) %>
                        </div>
                    </div>
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell form_container_inner_state ">
                            <label for="user_email">COUNTRY</label>
                            <!-- TODO: Change to country, need to add to db. -->
                            <%= f.select :state, options_for_select(us_states) %>
                        </div>
                    </div>
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">

                        </div>
                    </div>
                </div>
                <div class="col-md-6 form_container_cell">
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">
                            <label for="user_email">CONFIRM EMAIL</label>
                            <%= f.text_field :email, :class => 'form-control', :autofocus => true, :placeholder => 'name@example.com' %>
                            <%= show_field_error(@user, :email) %>
                        </div>
                    </div>
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">
                            <label for="user_email">CONFIRM PASSWORD</label>
                            <%= f.password_field :password_confirmation, :class => 'form-control', :autofocus => true, :placeholder => 'Password Confirmation' %>
                            <%= show_field_error(@user, :password_confirmation) %>
                        </div>
                    </div>
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">
                            <label for="user_email">PASSWORD STRENGTH</label>
                            <!-- TODO: Change to country, need to add to db. -->
                            <ul>
                                <li class="form_list"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>More than 6 characters</li>
                                <li class="form_list"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Contain upper (A-Z) and lower case (a-z)</li>
                                <li class="form_list"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Contain a numeral (0-9)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row form_container_inner_row">
                        <div class="col-md-12 form_container_inner_row_cell">
                            <label for="user_email">COUNTRY RESTRICTIONS</label>
                            <!-- TODO: Change to country, need to add to db. -->
                            <ul>
                                <li class="form_list">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie congue arcu sed pulcinar</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <% end %>
        </div>
        <div class="signup_seperator">&nbsp;</div>












    </div>



    <!--

    <div class="signup_login_container">
        <div class="lbc_tabs">
            <div class="lbc_tab create_account_tab">
                <%= link_to 'Create Account', new_user_registration_path, :class => "create_account_link" %>
            </div>
            <div class="lbc_tab signin_account_tab signin_account_tab_notselected">
                <%= link_to 'Login', new_user_session_path, :class => 'login_account_link' %>
            </div>
        </div>

        <div class="form_container">
            <%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:id => 'create_user'}) do |f| %>
            <div class="form_group first_name_form">
                <%= f.text_field :first_name, :class => 'form-control', :autofocus => true, :placeholder => 'First Name' %>
                <%= show_field_error(@user, :first_name) %>
            </div>
            <div class="form_group last_name_form">
                <%= f.text_field :last_name, :class => 'form-control', :autofocus => true, :placeholder => 'Last Name' %>
                <%= show_field_error(@user, :last_name) %>
            </div>
            <div class="form_group phone_number">
                <%= f.text_field :phone_number, :class => 'form-control', :autofocus => true, :placeholder => 'Phone Number' %>
                <%= show_field_error(@user, :phone_number) %>
            </div>
            <div class="form_group address_form">
                <%= f.text_field :address, :class => 'form-control', :autofocus => true, :placeholder => 'Street Address' %>
            </div>
            <div class="form_group city_form">
                <%= f.text_field :city, :class => 'form-control', :autofocus => true, :placeholder => 'City' %>
            </div>
            <div class="form_group state_form">
                <%= f.select :state, options_for_select(us_states) %>
            </div>
            <div class="form_group postal_code_form">
                <%= f.text_field :postal_code, :class => 'form-control', :autofocus => true, :placeholder => 'Postal Code' %>
            </div>
            <div class="form_group income_range_form">
                 <h5>Your Income Range</h5>
                <%= f.radio_button(:income_range, 'Over $200,000') %>
                <%= label_tag(:income_range_label_1, 'Over $200,000 in net income past 2 years') %>
                 <br />
                <%= f.radio_button(:income_range, 'Over $300,000 w/spouse') %>
                <%= label_tag(:income_range_label_2, 'Over $300,000 in income w/spouse the past 2 years') %>
                <br />
                <%= f.radio_button(:income_range, 'Net work $1,000,000') %>
                <%= label_tag(:income_range_label_3, 'Net worth of over $1,000,000') %>
            </div>
            <div class="form_group">
                <%= f.text_field :username, :class => 'form-control', :autofocus => true, :placeholder => 'Username' %>
                <%= show_field_error(@user, :username) %>
            </div>
            <div class="form_group">
                <%= f.text_field :email, :class => 'form-control', :autofocus => true, :placeholder => 'Email Address' %>
                <%= show_field_error(@user, :email) %>
            </div>
            <div class="form_group">
                <%= f.password_field :password, :class => 'form-control', :autofocus => true, :placeholder => 'Password' %>
                <%= show_field_error(@user, :password) %>
            </div>
            <div class="form_group">
                <%= f.password_field :password_confirmation, :class => 'form-control', :autofocus => true, :placeholder => 'Password Confirmation' %>
                <%= show_field_error(@user, :password_confirmation) %>
            </div>
            <div class="form_group submission_form">
                <%= f.hidden_field :principle_investor, :value => 'false' %>
                <%= f.hidden_field :verified, :value => 'false' %>
                <%= f.submit 'Sign Up', :class=>'buttom_gold' %>
                <%= f.submit 'Clear Form', :type => 'reset', :class=>'buttom_gold' %>
            </div>
            <% end %>
        </div>
    </div>

    -->
</div>



