<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div id="email_container_outer" style="height:63px;background-color:#000;">
    <div id="email_container_inner" style="">
        <!-- TODO Change this to be more dynamic -->
        <img src="http://ww2.landbaronclub.com:3000/assets/logo-beta.png" alt="Land Baron Club" style="padding:5px; width:245px; height:55px;" />
    </div>
</div>
     <% if @quote.nil? %>
        <p>
            This is a notification to let you know that
            <strong><%= @user.first_name %></strong> <strong><%= @user.last_name %></strong> has
            created a account today at <strong><%= Time.now.strftime("%I:%M %P - %m/%d/%Y") %></strong>
        </p>
        <h5>USER DETAILS</h5>
        <table border="0">
            <tr><td>User's Name:</td><td> <strong><%= @user.first_name %></strong> <strong><%= @user.last_name %></strong></td></tr>
            <tr><td>User's Phone: </td><td><strong><%= @user.phone_number %> </strong></td></tr>
            <tr><td>User's Email: </td><td><strong><%= @user.email %> </strong></td></tr>
        </table>
        <br/>
     <% else %>
    <p>
        This is a notification to let you know that <strong><%= @user.username %></strong> has pledged
        <strong><%= @quote.total_amount %></strong> today at <strong><%= Time.now.strftime("%I:%M %P - %m/%d/%Y") %></strong>.
        They can be contacted for follow-up at <strong><%= @user.phone_number %></strong> or <strong><%= @user.email %></strong>
    </p>
    <br/>
    <h5>USER DETAILS</h5>
        <table border="0">
            <tr><td>User's Name:</td><td> <strong><%= @user.first_name %></strong> <strong><%= @user.last_name %></strong></td></tr>
            <tr><td>User's Phone: </td><td><strong><%= @user.phone_number %> </strong></td></tr>
            <tr><td>User's Email: </td><td><strong><%= @user.email %> </strong></td></tr>
        </table>

    <br/>
    <h5>INVESTMENT DETAILS:</h5>
        <table border="0">
            <tr><td>Investment ID:</td><td><strong><%= @investment.id %></strong></td></tr>
            <tr><td>Investment Name: </td><td><strong><%= @investment.name %></strong></td></tr>
            <tr><td>Quote Reference ID:</td><td> <strong><%= @quote.reference_id %></strong></td></tr>
            <tr><td>Quote Amount:</td><td> <strong><%= @quote.total_amount %></strong></td></tr>
            <tr><td>Payment Method:</td><td> <strong><%= @quote.payment_methd %></strong></td></tr>
            <tr><td>Investor Profile Type:</td><td> <strong><%= @quote.investor_profile_type %></strong></td></tr>
            <tr><td>Status:</td><td> <strong><%= @quote.status %></strong></td></tr>
        </table>
     <% end %>
</body>
</html>


