<div class="gray_background">

    <div class="signup_login_container">
        <div class="lbc_tabs">
            <div class="lbc_tab create_account_tab create_account_tab_notselected">
                <%= link_to "Create Account", new_user_path, :class => 'create_account_link' %>
            </div>
            <div class="lbc_tab signin_account_tab">
                <%= link_to "Login", sign_in_path, :class => 'login_account_link' %>
            </div>
        </div>
        <div class="form_container">
            <%= form_for (User.new), :as => :user, :url => sign_in_path(@user) do |f| %>
                <div class="form_group">
                    <%= f.text_field :username, :class => 'form-control', :autofocus => true, :placeholder => 'Username or Email' %>
                </div>
                <div class="form_group">
                    <%= f.password_field :password, :class => 'form-control', :autofocus => true, :placeholder => 'Password' %>
                </div>
                <div class="form_group submission_form">
                    <%= f.submit 'Log In', :class=> 'buttom_gold' %>
                    <%= f.submit 'Clear Form', :type => 'reset', :class=>'buttom_gold' %>
                </div>
            <% end %>
        </div>
    </div>
</div>