<div class="gray_background">
    <div class="investment_details_container">
        <% @details.each do |details| %>
        <div class="row investment_detail_header">
            <div class="col-md-3 investment_header_column">
                <div class="company_logo">
                    <img class="company_logo_img" src="<%=details['logo_link'] %> ">
                </div>
            </div>
            <div class="col-md-6 investment_header_column">
                <div class="fund-info">
                    <h2><%=details['name'] %></h2>
                    <p><%=h truncate(details['key_information'], :length => 300) %></p>
                    <div class="data ">
                        <span class="datum">
                            <i class="fa fa-fw fa-bank"></i>
                            Future of work
                        </span>
                    <span class="datum">
                        <i class="fa fa-fw fa-cube"></i>
                         Multi Company Fund
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 investment_header_column">
                <div class="row">
                    <div class="col-md-12 invest_now">
                        <a class="invest_now_button" href="#">Invest</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="progress_bar">
                        <img class="progress_bar_img" height="25" width="245" src="/assets/progress_bar_placeholder.png" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="amount_invested">
                            <div class="amount">
                                <%=details['raise_amount'] %>
                            </div>
                            <div class="minimum">
                                Invested of <%=details['investment_minimum'] %> minimum raise
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row confidential_container">
            <div class="col-md-12">
                <div class="confidential-banner">
                    <i class="fa fa-exclamation-triangle"></i>  All information in this profile is <strong>confidential</strong> and cannot be shared or posted outside of Land Baron Club.
                </div>
            </div>
        </div>
        <div class="row investment_detail_information">
            <div class="col-md-8">
                <div class="key_information_right key_information_description">
                    <h2>Key Information</h2>
                    <p><%=details['key_information'] %></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="key_information_left watchers">
                    <h3>25 Watchers</h3>
                    <a class="watch_now_button" href="#">Invest</a>
                </div>
                <div class="key_information_left investors_list">
                    <h3>Investor List</h3>
                    <img class="investor_img" width="270" src="/assets/investor_list_placeholder.jpg" />
                </div>
                <div class="key_information_left principle_bios">
                    <h3>Principle Bios</h3>

                    <img class="principle_investor_img" width="75" src="/assets/dummy-investor.png"/> Randy Eastwood
                      <br />
                    <img class="principle_investor_img" width="75" src="/assets/dummy-investor.png"/> James Vastbinder



                </div>
            </div>
        </div>
        <br />
        <div class="row investment_detail_information">
            <div class="col-md-12">
                  <div class="funder_terms">
                      <h2>Fund Terms</h2>
                  </div>
            </div>
        </div>
        <br />
        <div class="row investment_detail_information">
            <div class="col-md-12">
                <div class="answers_to_questions">
                    <h2>Answers To Questions</h2>
                </div>
            </div>
        </div>
        <br />
        <div class="row investment_detail_information">
            <div class="col-md-12">
                <div class="legal_documents">
                    <h2>Legal Documents</h2>
                </div>
            </div>
        </div>

        <% end %>

    </div>


    <!--
    <div class="investment_detail_container">
        <div class="investment_detail_header">

        </div>




    </div>
      --->

</div>