<div class="gray_background">
    <div class="deals_container">
        <!-- AVAILABLE INVESTMENTS SECTION -->
        <% if @available.size > 0 %>
            <div class="row available_investments">
                <div class="col-md-12 available_investments_header">
                    <h3>Available Investments</h3>
                </div>
            </div>
            <div class="row">
                <% @available.each do |available| %>
                    <div class="col-md-4">
                        <a class="deal_item_link" href="/investment_detail/<%=available.id %>">
                            <div class="deal_item">
                                <div class="deal_header">
                                    <div class="deal_title"><%=available.name %></div>
                                    <div class="deal_h2_header">
                                        <%= image_tag available.logo.url, :width => '400' %>
                                    </div>
                                </div>
                                <div class="deal_sub_container">
                                    <h3 class="deal_h3_sub">
                                        Key Information
                                    </h3>
                                    <div class="deal_description">
                                        <%=h truncate_html(available.key_information, :length => 300) %>
                                    </div>
                                    <div class="deal_status_container">
                                        <a class="buttom_gold button_large" href="/invest/<%=available.id %>">Invest Now</a>
                                        <a class="buttom_gold button_large" href="/investment_detail/<%=available.id %>">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% end %>
            </div>
        <% end %>
        <br />
        <br />
        <!-- TESTING THE WATERS INVESTMENTS SECTION -->
        <% if @testing.size > 0 %>
            <div class="row test_waters_investments" style="visibility: <%= Settings.testing_the_waters_investmen_visibility %>">
                <div class="col-md-12 test_waters_investments_header">
                    <h3>Testing The Waters Investments</h3>
                </div>
            </div>
            <div class="row" style="visibility: <%= Settings.testing_the_waters_investmen_visibility %>">
                <% @testing.each do |testing| %>
                    <div class="col-md-4">
                        <a class="deal_item_link" href="/investment_detail/<%=testing.id %>">
                            <div class="deal_item">
                                <div class="deal_header">
                                    <div class="deal_title"><%=testing.name %></div>
                                    <div class="deal_h2_header"><%= image_tag testing.logo.url, :width => '400' %></div>
                                </div>
                                <div class="deal_sub_container">
                                    <h3 class="deal_h3_sub">
                                        Key Information
                                    </h3>
                                    <div class="deal_description">
                                        <%=h truncate_html(testing.key_information, :length => 300) %>
                                    </div>
                                    <div class="deal_status_container">
                                       <!-- <a class="buttom_gray button_large" href="#">Watch</a>-->
                                        <a class="buttom_gold button_large" href="/investment_detail/<%=testing.id %>">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% end %>
            </div>
        <% end %>
        <br />
        <br />
        <!-- UP COMING INVESTMENTS SECTION -->
        <% if @coming_soon.size > 0 %>
            <div class="row upcoming_investments" style="visibility: <%= Settings.upcoming_investments_visibility %>">
                <div class="col-md-12 upcoming_investments_header">
                    <h3>Upcoming Investments</h3>
                </div>
            </div>
            <div class="row" style="visibility: <%= Settings.upcoming_investments_visibility %>">
                <% @coming_soon.each do |coming_soon| %>
                    <div class="col-md-4">
                        <a class="deal_item_link" href="/investment_detail/<%=coming_soon.id %>">
                            <div class="deal_item">
                                <div class="deal_header">
                                    <div class="deal_title"><%=coming_soon.name %></div>
                                    <div class="deal_h2_header"><%= image_tag coming_soon.logo.url, :width => '400' %></div>
                                </div>
                                <div class="deal_sub_container">
                                    <h3 class="deal_h3_sub">
                                        Key Information
                                    </h3>
                                    <div class="deal_description">
                                        <%=h truncate_html(coming_soon.key_information, :length => 300) %>
                                    </div>
                                    <div class="deal_status_container">
                                       <!-- <a class="buttom_gray button_large" href="#">Watch</a>-->
                                        <a class="buttom_gold button_large" href="/investment_detail/<%=coming_soon.id %>">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% end %>
            </div>
        <% end %>
        <br />
        <br />
        <br />
        <br />
        <!-- FUNDED INVESTMENTS SECTION -->
        <% if @funded.size > 0 %>
            <div class="row past_investments" style="visibility: <%= Settings.funded_investment_visibility %>">
                <div class="col-md-12 past_investments_header">
                    <h3>Funded Investments</h3>
                </div>
            </div>
            <% @funded.each do |funded| %>
            <div class="row past_investment_row" style="visibility: <%= Settings.funded_investment_visibility %>">
                <div class="col-md-3 past_investment_grid">
                    <a class="deal_item_link" href="/investment_detail/<%=funded.id %>">
                        <div class="past_investment_deal">
                            <div class="past_investment_mini_header">
                                <%= image_tag funded.logo.url, :width => '200' %>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-9 past_investment_grid">
                    <div class="deal_title_past"><%=funded.name %></div>
                    <div class="past_investment_description">
                        <%=h truncate_html(funded.key_information, :length => 200) %>
                    </div>
                    <a class="buttom_gold" href="/investment_detail/<%=funded.id %>">View Details</a>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
</div>