<div class="gray_background">
    <div class="investment_details_container">
        <% @details.each do |details| %>
        <div class="row investment_detail_header">
            <div class="col-md-3 investment_header_column">
                <div class="company_logo">
                    <img class="company_logo_img" src="<%=details['logo_link'] %> ">
                </div>
            </div>
            <div class="col-md-6 investment_header_column">
                <div class="fund-info">
                    <h2><%=details['name'] %></h2>
                    <p><%=h truncate(details['key_information'], :length => 300) %></p>
                    <div class="data ">
                        <span class="datum">
                            <i class="fa fa-fw fa-bank"></i>
                            Future of work
                        </span>
                    <span class="datum">
                        <i class="fa fa-fw fa-cube"></i>
                         Multi Company Fund
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 investment_header_column">
                <div class="row">
                    <div class="col-md-12 invest_now">
                        <a class="buttom_gold button_super_large" href="/invest/<%=details['id'] %>">Invest</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="progress_bar">
                        <img class="progress_bar_img" height="25" width="245" src="/assets/progress_bar_placeholder.png" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="amount_invested">
                            <div class="amount">
                                <%=details['raise_amount'] %>
                            </div>
                            <div class="minimum">
                                Invested of <%=details['investment_minimum'] %> minimum raise
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row investment_detail_information">
            <div class="col-md-8">
                <div class="key_information_right key_information_description">
                    <% if @media.count != 0 %>
                    <div class="slider_container" id="slider" style="visibility:hidden">
                        <ul class="bxslider">
                            <% @media.each do |media| %>
                            <li><img width="600" src="<%=media['path'] %>" /></li>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>

                    <h2>Key Information</h2>
                    <div class="key_information_content">
                    <p><%=details['key_information'] %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--
                <div class="key_information_left watchers">
                    <h3>25 Watchers</h3>
                    <div class="watch_button_container">
                        <a class="buttom_gold button_large_and_long" href="#">Watch</a>
                    </div>
                </div>

                <div class="key_information_left investors_list">
                    <h3>Investor List</h3>
                    <img class="investor_img" width="270" src="/assets/investor_list_placeholder.jpg" />
                </div> -->
                <div class="key_information_left principle_bios">
                    <h3>Principal</h3>
                    <% if @principles.count != 0 %>
                        <% @principles.each do |principles| %>
                            <a href="#" class="investor_principal_sublist"><img class="principle_investor_img" width="75" src="<%=principles['img_url'] %>"/> <%=principles['full_name'] %></a>
                            <br />
                            <br />
                        <% end %>
                    <% else %>
                         <div class="no_data">No Data</div>
                    <% end %>
                </div>
            </div>
        </div>
        <br />
        <div class="row investment_detail_information">
            <div class="col-md-12">
                  <div class="funder_terms">
                      <h2>Fund Terms</h2>
                      <div class="funder_terms_conatiner">
                        <h4><strong>Minimum Inventment: </strong> <%=details['investment_minimum'] %></h4>
                            <h4><strong>Fee Structure: </strong></h4>
                            <div class="key_information_content">
                                <% if details['note'].nil? %>
                                    No Date
                                <% else %>
                                    <%=details['fee_structure'].try(:html_safe)%>
                                <% end %>
                              </div>
                          <h4><strong>Notes: </strong></h4>
                                <div class="key_information_content">
                                <p>
                                <% if details['note'].nil? %>
                                    No Data
                                <% else %>
                                    <%=details['note'].try(:html_safe)%>
                                <% end %>
                                </p>
                            </div>
                      </div>
                  </div>
            </div>
        </div>
        <br />
            <div id="principle_section" class="row investment_detail_information">
                <div class="col-md-12">
                    <div class="funder_terms">
                        <h2>Principal</h2>
                        <div class="funder_terms_conatiner">
                            <% if @principles.count != 0 %>
                                <% @principles.each do |principles| %>
                                    <div class="row" id="<%=principles['id'] %>_principle">
                                        <div class="col-md-3">
                                            <img class="principle_investor_img" width="220" src="<%=principles['img_url'] %>"/>
                                        </div>
                                        <div class="col-md-5 bio_stuff">
                                            <div class="bio_f_name"><%=principles['full_name'] %></div>
                                            <span>
                                                - <%=principles['occupation'] %>
                                            </span>
                                            <p><%=principles['bio'] %></p>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                <% end %>
                            <% else %>
                                <div class="no_data">No Data</div>
                            <% end %>
                            <!--
                            <h4><strong>Minimum Inventment: </strong> <%=details['investment_minimum'] %></h4>
                            <h4><strong>Fee Structure: </strong></h4>
                            <div class="key_information_content">
                                <% if details['note'].nil? %>
                                    No Date
                                <% else %>
                                    <%=details['fee_structure'].try(:html_safe)%>
                                <% end %>
                            </div>
                            <h4><strong>Notes: </strong></h4>
                            <div class="key_information_content">
                                <p>
                                    <% if details['note'].nil? %>
                                        No Data
                                    <% else %>
                                        <%=details['note'].try(:html_safe)%>
                                    <% end %>


                                </p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <br />







        <div class="row investment_detail_information">
            <div class="col-md-12">
                <div class="answers_to_questions">
                    <h2>Answers To Questions</h2>
                    <div class="qa_conatiner">
                        <% if details['qa'].nil? %>
                            No Data
                        <% else %>
                            <%=details['qa'].try(:html_safe)%>
                        <% end %>
                    </div>

                </div>

                </div>
            </div>
        </div>
        <br />
        <!--<div class="row investment_detail_information">
            <div class="col-md-12">
                <div class="legal_documents">
                    <h2>Legal Documents</h2>
                </div>
            </div>
        </div> -->

        <% end %>

    </div>


    <!--
    <div class="investment_detail_container">
        <div class="investment_detail_header">

        </div>




    </div>
      --->

</div>