<div id="login">
    <div class="signup_login_container">
        <div class="lbc_tabs">
            <div class="lbc_tab create_account_tab create_account_tab_notselected">
                <%= link_to "Create Account", new_user_registration_path, :class => 'create_account_link' %>
            </div>
            <div class="lbc_tab signin_account_tab">
                <%= link_to "Login", new_user_session_path, :class => 'login_account_link' %>
            </div>
        </div>
        <h2><span class="fontawesome-lock"></span>Welcome to Lanbaron Club </h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
            <fieldset>
                <p><label for="email">E-mail address</label></p>
                <%= f.text_field :login_attr, :class => 'form-control', id: 'email', :autofocus => true, :placeholder => 'Username or Email', onblur: "if(this.value=='')this.value='mail@address.com'", onfocus: "if(this.value=='mail@address.com')this.value=''"%>
                <p><label for="password">Password</label></p>
                <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :autofocus => true, id:'password', :placeholder => 'Password', onblur: "if(this.value=='')this.value='password'", onfocus: "if(this.value=='password')this.value=''" %>
                <%= f.submit 'Log In'%>
            </fieldset>
        <% end %>
    </div>
</div>
