<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => {:id => 'create_user'}) do |f| %>
    <!-- Step 1 -->
    <fieldset id="page1" class="investement-first property invest-dashboard signup-bg">
        <div class="container">
            <div class="col-md-10 col-sm-12 col-xs-12  center-container  color-white singup-wrapper stepone">
                <h1 class="color-white title-invest margin-none text-center heading">Join the Club</h1>
                <p class="text-center sub-headi">Signing up is free, fast &  simple - no commitments or long-term contracts</p>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center step-category">
                    <h3>  <i class="fa fa-check-circle color-yellow"></i> Step One</h3>
                    <p>Create your free account with your name, email, and password</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center step-category">
                    <h3>  <i class="fa fa-check-circle color-yellow"></i> Step Two</h3>
                    <p>Answer some simple questions about the investments that interest you</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 text-center step-category">

                    <h3>  <i class="fa fa-check-circle color-yellow"></i> Step Three</h3>
                    <p>Share some additional details to complete your investor profile</p>
                </div>
                <div class='col-md-12 hr-wrapper center-container'>
                    <hr>
                </div>
                
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Your Email</label>
                        <%= f.text_field :email, :class => 'form-control', :autofocus => true, :placeholder => 'name@example.com', :required => true, type: :email, :'data-msg-required' => "Please enter your email address"  %>
                        <%= show_field_error(@user, :email) %>

                    </div>
                     <div class="col-md-3 col-sm-6 col-xs-6 ">
                        <label>First name</label>
                        <%=f.text_field :first_name, :required => true, :placeholder => "First name (e.g John)", :class => "form-control"%>
                    </div>
                     <div class="col-md-3 col-sm-6 col-xs-6 ">
                        <label>Last name</label>
                        <%=f.text_field :last_name, :required => true, :placeholder => "Last name (e.g Smith)", :class => "form-control"%>
                    </div>  

                </div>
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <section ng-app="myApp" ng-controller="mainCtrl">
                            <label>Create Password</label>
                            <%= f.password_field :password, :class => 'form-control set-margin', :autofocus => true, :autocomplete => "off", :placeholder => 'New Password', :required => true %>
                            <%= show_field_error(@user, :password) %>
                            <!-- <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" class="display-none"/>
                            <label for="checkbox" ng-if="passwordCheckbox" class="hidden-show"><i class="fa fa-eye-slash"></i></label>
                            <label for="checkbox" ng-if="!passwordCheckbox" class="hidden-show"><i class="fa fa-eye"></i></label> -->  
                        </section>
                    </div> 
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>password Strength</label>
                        <ul>
                            <li><i id="char_length" class="fa fa-close color-red"></i> More than 6 character</li>
                            <li><i id="char_uper" class="fa fa-close color-red"></i> Contain upper (A-Z) and lowercase (a-z)</li>
                            <li><i id="contain_numb" class="fa fa-close color-red"></i> contains a number(0-9)</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-12 no-padding form-wrapper">
                    
                   <div class="col-md-6 col-sm-12 col-xs-12">
                       <label>Country</label>
                        <%= f.select :country, options_for_select(countries), {:include_blank => 'Please select a country'}, {class: 'form-control', required: true} %>
                         
                   </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Country Restriction</label>
                        <p class="restriction-txt">Some countries may have restrictions about real estate crowdfunding. <a href="http://www.landbaronclub.com/contact/">Contact us</a> for details.</p>
                    </div>
                    </div>
                    
                     <div class='col-md-12 hr-wrapper center-container'>
                        <hr>
                    </div>
                    <div class="signup_navigation_button"></div>

            </div>
        </div>
    </fieldset>

    <fieldset id="page2" class="investement-first property invest-dashboard">
        <div class="container">


            <div class="col-md-11 col-sm-12 col-xs-12 investnow dashboeardproperty center-container singup-wrapper">
                <h1 class="color-white title-invest margin-none payment text-center">What you are looking for?</h1>
                 <p class="text-center sub-headi color-white">Answer the questions below about your investment goals and the kinds of investments that interest you the most. This information will help us notify you of opportunities that meet your needs and contribute to the kind of opportunities we host at Land Baron Club.</p>
           
          
            <div class='col-md-12 hr-wrapper center-container'>
                <hr>
            </div>
            <div class="col-md-12 no-padding form-wrapper">
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <label  class="color-white">What type(s) of property are you interested in?</label>
                    <select name="user[property_types]" class="form-control">
                        <option value="Residential">Residential</option>
                        <option value="Commercial">Commercial</option> 
                        <option value="Both">Both</option>
                        <option value="Undecided">Undecided</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <label  class="color-white">What type(s) of deals are you interested in?</label>
                    <select name="user[deal_types]" class="form-control">
                        <option value="Debt">Debt</option>
                        <option value="Equity">Equity</option>
                        <option value="Both">Both</option> 
                        <option value="Undecided">Undecided</option>
                    </select>
                </div> 

                </div>
               <div class="col-md-12 no-padding form-wrapper ">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label class="color-white">Budget Range</label>
                        <div class="layout-slider" style="width: 100%">
                            <span class=" rang-span" style="display: inline-block;     margin: 15px 0px; width: 100%;  padding: 0 5px;">
                                <input id="Slider1" type="slider" name="user[budget_range]" value="30000.5;60000" />
                            </span>  
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label class="color-white">Risk Profile</label>
                          

                        <div class="layout-slider" style="display: inline-block;     margin: 15px 0px; width: 100%;  padding: 0 5px;">
                          <input id="SliderSingle" type="slider" name="user[risk_tolerance]" value="2" />
                        </div>
                    </div> 
                </div>
                
                 <div class='col-md-12 center-container invest-profile step-three'>
                    <div class='col-md-12 center-container no-padding'>
                        <h3 class="color-white text-left border-none">
                            Categories
                        </h3>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="appartments_check" value="Apartments" type="checkbox" name="user[property_categories][]" >
                                    <label for="appartments_check">Apartments</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="residential_check" value="Residential Homes" type="checkbox" name="user[property_categories][]" >
                                    <label for="residential_check">Residential Homes</label>
                                </div>
                            </div>
                        </div>
                         <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="industrial_check" value="Industrial Space" type="checkbox" name="user[property_categories][]" >
                                    <label for="industrial_check">Industrial Space</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="self_storage_check" value="Self-Storage" type="checkbox" name="user[property_categories][]" >
                                    <label for="self_storage_check">Self-Storage</label>
                                </div>
                            </div>
                        </div>
                          <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="commercial_check" value="Commercial/Office Use" type="checkbox" name="user[property_categories][]" >
                                    <label for="commercial_check">Commercial/Office Use</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="new_developmen_check" value="New Developments" type="checkbox" name="user[property_categories][]" >
                                    <label for="new_developmen_check">New Developments</label>
                                </div>
                            </div>
                        </div>
                         <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="high_rises_check" value="High-rises or Skyscrapers" type="checkbox" name="user[property_categories][]" >
                                    <label for="high_rises_check">High-rises or Skyscrapers</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-3 no-padding check-profile'>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="rehabilitations_check" value="Rehabilitations or Flips" type="checkbox" name="user[property_categories][]" >
                                    <label for="rehabilitations_check">Rehabilitations or Flips</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-12 hr-wrapper center-container'>
                            <hr>
                        </div>
                        <div class="signup_navigation_button"></div>

                        <!-- <div class=" text-center ">
                            <p class="text-center"><button class="btn-continue">continue <i class="fa fa-arrow-right"></i> </button> </p>
                            <p class="text-center restriction-txt">
                               Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
      </div>

    </fieldset>


    <!-- Step 3 -->
    <fieldset id="page3" class="investement-first property invest-dashboard signup-bg">
        <div class="container">


            <div class="col-md-10 col-sm-12 col-xs-12  center-container  color-white singup-wrapper">
                <h1 class="color-white title-invest margin-none text-center heading">Tell us about yourself</h1>
                <p class="text-center sub-headi">Almost done! Share some additional information to complete your investor profile and help us customize your Land Baron Club experience.</p>
             <div class='col-md-12 hr-wrapper center-container'>
                    <hr>
                </div>
              
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                         <label>What is your annual income before taxes?</label>
                        <input type="text" name="user[annual_income_without_taxes]" placeholder="" class="form-control" />
                    </div>
                     <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>What is your primary reason for wanting to invest? </label>
                        <input type="text" name="user[reason_to_invest]" placeholder="" class="form-control" />
                        
                   </div> 

                </div>
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <label>Have you ever invested in real estate before?</label>
                        <select name="user[invested_in_realestate]" class="form-control">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option> 
                            <option value="Not sure">Not sure</option>
                        </select>
                    </div> 
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>Which best describes you?</label>
                        <select name="user[describes_you]" class="form-control">
                            <option value="> $1,000,000">> $1,000,000</option>
                            <option value="Over $300,000 w/spouse the past 2 years">Over $300,000 w/spouse the past 2 years</option>
                            <option value="Over $200,000 income past 2 years">Over $200,000 income past 2 years</option> 
                            <option value="< $100,000">< $100,000</option>
                        </select>
                    </div>   
                </div>
                
                <div class="col-md-12 no-padding form-wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12 ">
                        <label>What are your current investments primarily in?</label>
                        <input type="text" name="user[current_investments]" placeholder="" class="form-control" />
                        
                    </div>
                     
                    <div class="col-md-6 col-sm-12 col-xs-12">
                          <label>How did you hear about us?</label>
                        <input type="text" name="user[hear_about_us]" placeholder="" class="form-control" />
                    </div>
                </div>
                    
                <div class='col-md-12 hr-wrapper center-container'>
                    <hr>
                </div>
                
                <!-- <div class="col-md-12 signup-btn">
                    <p class="text-center">
                        <button class="invest-btn"> Finish Up <i class="fa fa-check-circle "></i></button>  
                        
                    </p>
                    
                     <p class="text-center restriction-txt">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                </div> -->
            </div>
           
        </div>
    </fieldset>

    <div class="col-md-12 signup-btn over-flow">
        <p class="text-center">
            <button id="create_user_button" class="invest-btn"> Create Account <i class="fa fa-chevron-right"></i></button>  
        </p>
    </div>

<%end%>


<script type="text/javascript">
    // $("#create_user").multipage({ submitButton: 'create_user_button' });

    jQuery("#Slider1").slider({ 
        from: 1000, 
        to: 100000, 
        step: 500, 
        smooth: true, 
        round: 0, format: {format: '$#####'}, skin: "plastic"
    });
    $("#SliderSingle").slider({ 
        from: 1, 
        to: 3, 
        step: 1, 
        round: 1, 
        format: { 
            format: '##.0', 
            locale: 'de' 
        }, 
        calculate: function( value ){
            if(value == 1){
                return "Conservative";
            }else if(value == 2){
                return "Moderate";
            }else{
                return "Aggressive";
            }
        }, 
        skin: "round" 
    });
    $(".slider")
                        
    .slider({ 
        min: 0, 
        max: 1000, 
        range: true, 
        values: [200, 800] 
    })
                        
    .slider("pips", {
        rest: "label"
    })
                        
    .slider("float");
</script>
