<div id="header">
        <div class="logo">
            <a href="/"></a>
        </div>

        <% if current_user %>
        <div class="header_links">
            <div id="top-bar">
                <a href="#" id="more">
                    <img class="user_avatar" width="52" height="52" src="/assets/dummy-investor.png">
                    <div class="users_information">
                        <div class="users_name"><%= current_user.first_name + " " + current_user.last_name %></div>
                        <div class="username">@<%= current_user.username %></div>
                    </div>
                    <span id="arrow">
                        <span id="arrdown">&#x25BC;</span>
                        <!--<span id="arrup">&#x25B2;</span>-->
                    </span>
                </a>
                <div class="dropdown">
                    <a href="#">My Investments</a>
                    <%= link_to "My Account", account_path %>
                    <a href="#">Help</a>
                    <%= link_to "Sign Out", signed_out_path %>
                </div>
            </div>
        </div>
        <div class="header_browse">

            <div class="input-group search-header-form">
                <input type="text" class="form-control" placeholder="Search" aria-describedby="">
                <span class="input-group-addon" id="basic-addon2">
                <i class="fa fa-search"></i></span>
            </div>


        </div>

        <% else %>
        <div class="header_links_notsignin">
            <ul class="header_links_list">
                <li class="header_links_list_value"><%= link_to "Login", sign_in_path, :class =>"blue_button_sub_notsignin" %></li>
                <li class="header_links_list_value"><%= link_to "Sign up", new_user_path, :class =>"blue_button_sub_notsignin" %></li>
            </ul>
        </div>
        <% end %>
</div>