<header class="header bg-dark ">
  <div class="container">
    <div class="col-md-3 logo col-sm-3 col-xs-12">
        <%=link_to unauthenticated_root_path do
         	image_tag("logo.png")
         end%>
    </div>
    
    <div class="col-md-2 col-sm-2 explore  col-xs-12 border-left border-right text-center">
        <h4>Explore</h4>
    </div>
    <div class="col-md-3 col-sm-3   search col-xs-12 border-right  color-white">
      <input type="Search" class="form-control bg-transparent border-none color-white" placeholder="Coming Soon..."/>
  	</div>
  	<% if user_signed_in? %>
	    <div class="col-md-3 col-sm-3 col-xs-12 color-white username ">
	      <p class="nav-button "> <%= current_user.first_name+ ' ' +current_user.last_name %> <span class="pull-right"><i class="fa fa-chevron-circle-down"></i></span></p>
	      <ul class="navigation_wrapper " id="mainnav">
           	<%= link_to edit_user_registration_path do %> 
           		<li>My Account</li>
           	<%end%>

           	<%= link_to my_investments_path do %>
            	<li>My Investments</li>
            <%end%>
            <!-- <a href="#">Help</a> -->
            <%= link_to destroy_user_session_path, method: :delete do %>
            	<li>Sign Out</li>
            <%end%>
	      </ul>
			</div>
			<%else%>

			<%end%>
  </div>
</header>
