<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title><%= Settings.product_name %></title>

    <%= stylesheet_link_tag    "application" %>

    <link rel='stylesheet' id='tt-easy-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Oswald%3A700%7CSyncopate%3A700&#038;subset=latin%2Call&#038;ver=4.1.1' type='text/css' media='all' />
    <!-- <link rel='stylesheet' id='altitude-google-fonts-css'  href='//fonts.googleapis.com/css?family=Ek+Mukta%3A200%2C800&#038;ver=1.0.0' type='text/css' media='all' /> -->

    <link href='http://fonts.googleapis.com/css?family=Ek+Mukta' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <!--<script src="http://seiyria.github.io/bootstrap-slider/javascripts/jquery.min.js"></script> -->
  
  </head>
  <!--[if lt IE 9 ]><body class="lt-ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body><!--<![endif]-->
    <%= render 'common/header' %>

    <%= flash_messages%>
    <%= yield %>
    <%= render 'common/footer' %>
    <script type="text/javascript">
        window.doorbellOptions = {
            appKey: 'cKQ5TPXblL9DPCFAzLD1CCr17TugpDui5e2WjDeNZ6WwDlWkwm9DBGGfgTIznRTi'
        };
        (function(d, t) {
            var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/2203?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
        }(document, 'script'));
    </script>
  </body>
</html>
